.carousel-caption {
    top: auto;
    bottom: 40%;
   }


/* Oxford Ost */

#OxOstCarousel1 {
  background-image: url("../LocationSites/Oxfords/OxfordOst/images/Placeholder.jpg");
  height: 66vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
 }
#OxOstCarousel2 {
  background-image: url("../LocationSites/Oxfords/OxfordOst/images/Placeholder.jpg");
  height: 66vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
 }