
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
  }
  
.card a:hover {
color: #000000;
text-decoration: none;
background-color: transparent;
}

.card img {
    max-height: 200px;
}


.card-columns .card {
    margin-bottom: 0.75rem;
  }

  
  @media screen and (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
    .card-columns .card {
      display: inline-flex;
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      /*next params has to be the half the number of cards*/
      orphans: 3;
      widows: 3;
    }
    .card-columns .card {
      display: inline-flex;
      width: 100%;
    }
  }
  @media screen and (min-width: 1200px) {
    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      orphans: 3;
      widows: 3;
      
    }
    .card-columns .card {
      display: inline-flex;
      width: 100%;
    }
  }

  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }


  .distanceColor {
    color: #DD2C00 !important;
    color: rgb(221, 0, 0) !important;
  }

  .bg-OxFord {
    background-color: #03A9F4 !important;
    background-color: rgb(153, 119, 24) !important;
    background-color: #8D6E63 !important;

  }
  
  .bg-Mensa {
    background-color: #4CAF50 !important;
    background-color: rgb(62, 109, 170) !important;
    background-color: #0288D1 !important;
  }




/* Background pattern from Toptal Subtle Patterns */
#indexBody{
  background-image: url(../images/infobackground.png);
}
/* Background pattern from Toptal Subtle Patterns */
.Info-Container{
  background-image: url(../images/infobackground.png);
}
/* Background pattern from Toptal Subtle Patterns */
.Menu-Container{
  background-image: url(../images/infoBackgroundDark.png);
  padding-bottom: 4rem;
}
@media screen and (max-width: 350px) {
  .Menu-Container {
    padding-bottom: 5rem;
  }
}


.opening-table{
  max-width: 540px;
}

.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

#MenuTitle {
  font-size: 3rem;
}
@media screen and (min-width: 576px) {
  #MenuTitle {
    font-size: 4rem;
  }
}
@media screen and (min-width: 992px) {
  #MenuTitle {
    font-size: 5rem;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}



/* Footer */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  position: relative;
  min-height: 100%;
}

.footerSpacing {
  padding-bottom: 4rem;
}
@media screen and (max-width: 350px) {
  .footerSpacing {
    padding-bottom: 5rem;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.footer a {
  color: white;
}
.footer a:hover {
  color: rgb(170, 170, 170);
}


#OxOstCarousel1 {
  background-image: url("../LocationSites/Oxfords/OxfordCharles/images/Placeholder.jpg");
  height: 13rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
 }