.carousel-caption {
    top: auto;
    bottom: 30%;
   }


/* Oxford Ost */

#OxOstCarousel1 {
  background-image: url("images/Placeholder.jpg");
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
 }
#OxOstCarousel2 {
  background-image: url("images/Placeholder.jpg");
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
 }